.vscode
audio
fonts
webfonts
images
videos
scss
metadata
js/all.js
js/all.min.js
js/highstock.min.js
js/highstock.js
js/data.min.js
js/data.js
js/export-data.js
js/export-data.min.js
./arousal.mp4
./google97f1f3f45b06d5c5.html
./json_data.json
./package-lock.json